<!DOCTYPE html>
<html>
    <head>
        <title>User Data</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/users-style.css') }}">
        <script src="{{ url_for('static', filename='js/users-script.js') }}"></script>

        <link rel="stylesheet" type="text/css" href="/static/css/users-style.css">
        <script src="/js/users-script.js"></script>

    </head>
    <body>
        <header>
            <div class="container">
                <div id="branding">
                    <h1><span class="highlight">User</span> Management System</h1>
                </div>
                <nav>
                    <ul>
                        <li class="current">
                            <a href="/">
                                Home
                            </a>
                        </li>
                        {% if session.get('logged_in') %}
                            <li class="current">
                                <a href="{{ url_for('logout') }}">
                                    Logout
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </header>

        <div class="container">
            <div class="content-wrap">
                <div class="search-container">
                    <input type="text" id="searchInput" class="search-input" placeholder="Search users...">
                </div>
                <div class="totals-display">
                    <p><strong>Total Balance:</strong> {{ "{:,.2f}".format(totals['total_balance']).replace(',', ' ') }}</p>
                    <p><strong>Total Bonus:</strong> {{ "{:,.2f}".format(totals['total_bonus']).replace(',', ' ') }}</p>
                    <p><strong>Total Spent:</strong> {{ "{:,.2f}".format(totals['total_spent']).replace(',', ' ') }}</p>
                </div>


                <div class="table-header">
                    <button id="clearSorting" class="clear-sorting-button">Clear Sorting</button>
                    <h2 class="table-title">User Management Table</h2>
                </div>

                <div class="table-responsive">
                    <table>
                        <tr class="header">
                            <th>Row number</th>
                            <th>Telegram ID</th>
                            <th>Telegram Nickname</th>
                            <th>Balance</th>
                            <th>Bonus</th>
                            <th>Total Spent</th>
                            <th>Is Active</th>
                            <th>Top Up Active</th>
                            <th>Price Multiplier</th>
                            <th>Bot Blocked</th>
                        </tr>
                        <tbody id="userTable">
                            {% for user in users %}
                            <tr>
                                <td>{{ loop.index }}</td>
                                <td>{{ user.user_telegram_id }}</td>
                                <td>{{ user.user_telegram_nickname }}</td>
                                <td>
                                    <form action="/update_balance/{{ user.user_telegram_id }}" method="post">
                                        <input type="number" name="balance" value="{{ user.balance }}" min="0" step="any">
                                        <button type="submit">Update</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/update_bonus/{{ user.user_telegram_id }}" method="post">
                                        <input type="number" name="bonus" value="{{ user.bonus }}" min="0" step="any">
                                        <button type="submit">Update</button>
                                    </form>
                                </td>
                                <td>{{ user.total_spent }}</td>
                                <td>{{ user.is_active }}</td>
                                <td>{{ user.top_up_is_active }}</td>
                                <td>{{ user.price_multiplier }}</td>
                                <td>{{ user.bot_blocked }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>
